*{
    margin:0px;
    padding:0px;
    font-family:'Cutive Mono', monospace;	
    cursor: url('pictures/cursor1.gif'), auto;
}

body{
    background-size: cover;
    background-image: url('pictures/wallpaper.png');
}

#wrapper{
    padding:10px;
    margin:0 auto;
    width:850px;
    background-color:rgb(255, 255, 255);
    margin-top: 20px;
    border: 8px solid #ffffff;
	outline: 5px dashed #ffffff;
}

::-webkit-scrollbar{
    width:12px;
}

::-webkit-scrollbar-thumb{
    background:linear-gradient(transparent,white);
    border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,pink,rgb(233, 210, 233),rgb(209, 230, 237));
}

h2{
    margin-top: -40px;
    margin-bottom: 20px;
    font-family: 'Leckerli One', cursive;
    font-size: 50px;
    text-align: center;
    background: -webkit-linear-gradient(#e2dae6, pink);
    -webkit-text-stroke: 1px rgb(155, 150, 150);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 350ms;
}

h2:hover{
    background: -webkit-linear-gradient(#e8f7f7, rgb(233, 227, 228));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0.25rem 0 0.55rem rgb(245, 245, 239));
}

.header{
    padding:10px;
    display:flex;
    justify-content: space-around;
    align-items:center;
    color:black;
    text-decoration: none;
    margin-bottom: 20px;
}

.header p{
    font-weight:bold;
    font-size: larger;
    margin-right:200px;
}

.header a{
    text-decoration: none;
    color:black;
}

.header a:hover{
    background: linear-gradient(transparent,pink,rgb(233, 210, 233),rgb(209, 230, 237));
}

#profile_pic{
object-fit: cover;
margin-top:-50px;
background: linear-gradient(transparent,pink,rgb(233, 210, 233),rgb(209, 230, 237));
display: inline-block;
width: 90px;
height: 90px;
border-radius: 50%;
border-color: 1px black;
object-fit: cover;
}

.messages{
    font-weight: bolder;
    list-style-type: none;
    margin-bottom: 20px;
    }

#post_image{
    object-fit: cover;
    height:300px;
    width:200px;
    display:inline-block;
    transform-origin: bottom right;
    transition: 350ms;
}

#post_image:hover{
    filter: drop-shadow(0.25rem 0 0.55rem rgb(245, 245, 239));
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transform-origin: bottom right;
}

#fav, span{
    color:pink;
    text-decoration: none;
}

#row{
    margin-left: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

form{
    text-align: center;
}

input{
    padding:10px;
    margin-bottom: 10px;
    height:35px;
    width:500px;
}

button{
    border-style: none;
    background-color: pink;
    padding:10px;
    transition: 350ms;
}

button:hover{
    border-style: none;
    padding:13px;
    color:#ffffff;
    filter: drop-shadow(0.25rem 0 0.75rem pink);
}

#cap{
    margin-bottom: -1px;
    height:13px;
    width:13px;
    color:pink;
}

#hand{
    height:50px;
    opacity: 0.8;
}

.error{
    color: rgb(227, 194, 227);
    font-weight: bolder;
    }

#bird2{
    margin-left:-100px;
    height:60px;
    animation:fly 5.5s;
    position: relative;
    top:17px;
    right:1px;
}

@keyframes fly{
    0%{
        right:100%;
        top: -50px;
    }
    25%{
        bottom:40px;
    }
    50%{
        top:80px;
    }
    75%{
        top: 40px;
    }
    100%{
        top:17px;
        right:1px;
    }
}

