<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nailvana</title>

</head>

<script type ="text/javascript">
    var sound = new Audio;
    sound.src="static/bird.mp3"
    sound.volume = 0.03;
    </script>

<body onClick="sound.play()"> 

    <div id="wrapper">

        <div id="bird_container">
            <img src="{% static 'pictures/bird.gif' %}" id="bird" class="bird1">
            <img src="{% static 'pictures/bird2.png' %}" id="bird2" class="bird2">
        </div>

    <img src="{% static 'pictures/c1.png' %}" id="cloud_photo"/>
	
        <div id="entire_content">
            <span data-text="Nailvana">Nailvana</span> <img src="{% static 'pictures/hand.jpg' %}" id="hand"/><br>
            <p>Join nail beauty’s inner circle to sound off on the hottest trends, reviews, and recommendations. Share your extraordinary ideas & be inspired! </p>

            <div id ="forms">
                <div class="form">

                    {% if messages %}
                    <p class="error">PSST...</p>
                    <ul class="messages">    
                        {% for message in messages %}    
                        <li>{{ message }}</li>  
                        {% endfor %}
                    </ul>
                    {% endif %}

                    <h1>Register &#9825;</h1>

                    <form action="/register" method="post">
                    {% csrf_token %} 
                    <h2>First Name</h2>
                    <input type="text" name="first_name">
                    <h2>Last Name</h2>
                    <input type="text" name="last_name">
                    <h2>Email</h2>
                    <input type="text" name="email">
                    <h2>Password</h2>
                    <input type="text" name="password">
                    <h2>Confirm Password</h2>
                    <input type=text  name="confirm_password">
                    <button>Register</button>
                    </form>
                </div>

                <div class="form">
                    <h1>Returning User? &#9825;</h1>

                    <form action="/login" method="post">
                    {% csrf_token %} 
                    <h2>Email</h2>
                    <input type="text" name="email">
                    <h2>Password</h2>
                    <input type="text" name="password">
                    <button>Log In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer>    
        <img src="{% static 'pictures/nv.png' %}" id="logo"/> 
        © 2021 Nailvana | Seattle, Washington | All Rights Reserved.
    </footer>

</body>
</html>


